/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url('main.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='main.jpg', sizingMethod='scale');

    height: 200px;
    width: 100%;
    margin-bottom: 0em;
     display: table;
}

    .banner-head {
      font-family: 'Oswald', sans-serif;
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 3em;
        color: white;
        font-weight: 500;
        text-shadow: 1px 1px 1px black;
    }



/*
 * -- format TABLE WRAPPER --
 * This element wraps up all the format table elements
 */
 .format-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.format-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- format TABLE  --
 * Every format table has the .format-table class
 */
.format-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 0;
}

/*
 * -- format TABLE HEADER COLORS --
 * Choose a different color based on the type of format table.
 */
.format-table-1 .format-table-header {
    background: #543494;
}

.format-table-2 .format-table-header {
    background: #2c4985;
}

.format-table-3 .format-table-header {
    background: #543494;
}

.format-table-4 .format-table-header {
    background: #2c4985;
}

.format-table-5 .format-table-header {
    background: #543494;
}

.format-table-6 .format-table-header {
    background: #2c4985;
}

/*
 * -- format TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.format-table-header {
    background: #111;
    color: #fff;
}
    .format-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;

    }


/*
 * -- format TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.format-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .format-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- format TABLE LIST --
 * Each format table has a <ul> which is denoted by the .format-table-list class
 */
.format-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- format TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each format table
 */
.format-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- format TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a format table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various format tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .format-table {
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
}


.explain {
    margin-bottom: 3em;
    margin-top: 2em;
}

.explain ul{
  padding: 0;
  list-style-type: none;
  margin:0px;
}

.explain li{
    list-style-type: none;
    margin:0px;
    padding:1em;
    border-bottom-style: solid;
    border-color: #A0A0A0;
    letter-spacing:0;
    text-align:left;
}

.explain .first{
    border-top-style: solid;
}

.tabla {
letter-spacing:0
}

.l-box {
    padding: 1em;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.datos_bas a{
font-size: 26px;
font-family: 'Oswald', sans-serif;
text-decoration: none;
color:black;
}

.web_adr{
font-size: 16px !important;
}

iframe {
    max-width: 100%;
    height: 400px;
}
.days_header{
background: #543494;
color:#fff;
font-family: sans-serif;
font-size:14px;
}
